build --incompatible_enable_proto_toolchain_resolution
build --@protobuf//bazel/flags:prefer_prebuilt_protoc

common --registry=https://bcr.bazel.build
common --registry=https://raw.githubusercontent.com/filmil/bazel-registry/main

# Load user-specific configurations if they exist
try-import %workspace%/user.bazelrc

