{{template "header.html" .}}
{{if .SelfError}}
<div class='alert alert-danger'>gRPC address not found for self</div>
{{else}}
  {{if .ConnectError}}
  <div class='alert alert-danger'>Failed to connect to local gRPC channelz: {{.ConnectError}}</div>
  {{else}}
    {{if .ServersError}}
    <div class='alert alert-warning'>Failed to get servers: {{.ServersError}}</div>
    {{end}}
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">gRPC Servers</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Server ID</th>
                  <th>Calls Started</th>
                  <th>Calls Succeeded</th>
                  <th>Calls Failed</th>
                  <th>Last Call Started</th>
                </tr>
              </thead>
              <tbody>
              {{if .Servers}}
                {{range .Servers}}
                <tr><td>{{.ServerID}}</td><td>{{.Started}}</td><td>{{.Succeeded}}</td><td>{{.Failed}}</td><td>{{.LastCall}}</td></tr>
                {{end}}
              {{else}}
                <tr><td colspan='5'>No servers found</td></tr>
              {{end}}
              </tbody>
            </table>
          </div>
        </div>
    </div>

    {{if .ChannelsError}}
    <div class='alert alert-warning'>Failed to get top channels: {{.ChannelsError}}</div>
    {{end}}
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-success text-white">gRPC Top Channels</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Channel ID</th>
                  <th>Target</th>
                  <th>State</th>
                  <th>Calls Started</th>
                  <th>Calls Succeeded</th>
                  <th>Calls Failed</th>
                </tr>
              </thead>
              <tbody>
              {{if .Channels}}
                {{range .Channels}}
                <tr><td>{{.ChannelID}}</td><td>{{.Target}}</td><td>{{.State}}</td><td>{{.Started}}</td><td>{{.Succeeded}}</td><td>{{.Failed}}</td></tr>
                {{end}}
              {{else}}
                <tr><td colspan='6'>No channels found</td></tr>
              {{end}}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  {{end}}
{{end}}
{{template "footer.html" .}}
