{{template "header.html" .}}
      <div class="card shadow-sm mb-4">
        <div class="card-header bg-warning text-dark">Known Peers</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Agent ID</th>
                  <th>Name</th>
                  <th>gRPC Address</th>
                  <th>HTTP Dashboard</th>
                </tr>
              </thead>
              <tbody>
{{range .Peers}}                <tr>
                  <td><code>{{.ID}}</code></td>
                  <td>{{.Name}}</td>
                  <td><a href="{{.GRPCURL}}" class="text-decoration-none">{{.GRPCURL}}</a></td>
                  <td>{{.HTTPLink}}</td>
                </tr>
{{end}}              </tbody>
            </table>
          </div>
        </div>
      </div>
{{template "footer.html" .}}
